---
const personalImageAlt = "Ali Al Shwely";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      My name is Ali Al Shwely, a Toronto-based SAP specialist with Agile certification and over 9 years of experience. 
      I've collaborated with both small businesses and Fortune 500 companies like Telefonica and BASF on SAP projects across Europe, the UK, the US, Canada, and LATAM. 
      My expertise spans various SAP modules and technologies, including <strong> ABAP, CDS, BTP, API Management, and CPI.</strong>

    </p>
    <p>
      As part of my learning and development roadmap, I’m pursuing a <strong>Masters of Science in Computer Science</strong>, at the University of London, to enhance my skills and knowledge in high-demand areas like machine learning. 
      The program’s project-based coursework has already provided me with the opportunity to work on my first ML projects, where I’ve gained a solid understanding of complex concepts and their real-world applications.
    </p>

  </div>

  <img
    width="200"
    height="200"
    src="/me.png"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
