---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "April 2022 - Present",
    title: "SAP Specialist",
    company: "BASF - Canada",
    description:
    "In my recent projects, I have worked on BTP, leveraging the RAP and CAP programming models. This includes developing S/4HANA extensions using the RAP model to follow the clean-core approach, building and deploying applications on Cloud Foundry in BTP using the CAP model, implementing HANA Cloud solutions within BTP, creating API proxies for OData through SAP API Management, and handling integration and orchestration using SAP CPI. "
  },
  {
    date: "January 2020 - April 2022",
    title: "SAP Specialist",
    company: "BASF - Spain",
    description:
      "New SAP ABAP and RAP developments, along with extensions within the SD module, including OData services and BAdI implementations.",
  },
  {
    date: "October 2018 - January 2020",
    title: "SAP Consultant",
    company: "Flex Bedding Group",
    description:
      "SAP ABAP extensions and new developments within SD, MM, PP and FI modules including SOAP based Web Services consumers and providers.",
  },
  {
    date: "March 2018 - October 2018",
    title: "SAP ABAP Consultant",
    company: "AmyPro Solutions",
    description:
      "SAP ABAP new developments and extensions, leveraging BAdI implementations, within the OpenText suite for SAP, ArchiveLink and xECM, as well as Fiori Launchpad configuration.",
  },
  {
    date: "March 2016 - March 2018",
    title: "SAP Developer",
    company: "Telefonica",
    description:
      "SAP ABAP and Webdynpro developments within the SD, MM, FI and HR modules.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
