---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "April 2022 - Present",
    title: "SAP Specialist",
    company: "BASF - Canada",
    description:
      "My recent projects have been primarily focused on BTP, utilizing RAP and CAP programming models including: " +
      "S/4HANA extensions with RAP model ensuring a clean-core approach, " +
      "Application development and deployment on BTP and Cloud Foundry using CAP model, " +
      "HANA Cloud projects within BTP, " +
      "API proxies for OData using SAP API Management, " +
      "Integration and orchestration with SAP CPI."
  },
  {
    date: "January 2020 - April 2022",
    title: "SAP Specialist",
    company: "BASF - Spain",
    description:
      "SAP ABAP and RAP extensions and new developments within the SD module including OData services",
  },
  {
    date: "October 2018 - January 2020",
    title: "SAP Consultant",
    company: "Flex Bedding Group",
    description:
      "SAP ABAP extensions and new developments within SD, MM, PP and FI modules.",
  },
  {
    date: "March 2018 - October 2018",
    title: "SAP ABAP Consultant",
    company: "AmyPro Solutions",
    description:
      "SAP ABAP developments within the OpenText suite for SAP including ArchiveLink and xECM.",
  },
  {
    date: "March 2016 - March 2018",
    title: "SAP Developer",
    company: "Telefonica",
    description:
      "SAP ABAP and Webdynpro developments within SD, MM, PP and FI modules.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
